# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
env/

# Build
build/
dist/
logs/
logs/app.log
*.spec

# Coverage/test
.coverage
htmlcov/
.pytest_cache/
.ruff_cache/

# IDE
.vscode/
.idea/
.idea/workspace.xml
*.iml
